h2 {
    text-align: center;
    font-size: 350%;
    color: red;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    section {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 40%;
        border: solid blue;
        border-radius: 15px;
        padding: 2.5% 1%;
        


        #ecran {
            display: flex;
            justify-content: center;


            input {
                padding: 5%;
                margin: 2%;
                width: 75%;
            }
        }

        #opperator {
            display: flex;
           
            a {
            
                font-size: 200%;
                text-decoration: none;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                border: solid 2px red;
                border-radius: 15px;
                margin: 2%;
                padding: auto;
                width: 100%;
            }

        }

        #chiffres {
            .trio1,.trio2,.trio3,.trio4 {
                display: flex;
                justify-content: center;
                width: 80%;
                margin: auto;




                a {
                    font-size: 250%;
                    color: gold;
                    text-decoration: none;
                    border: solid 2px blue;
                    border-radius: 15px;
                    margin: 2%;
                    padding: 1% 1%;
                    width: 100%;
                }
            }
            #result{
                display: flex;
                a:nth-child(1){
                    color: red;

                }
                a:nth-last-child(1){
                    color: green;
                }
           
                a {
                
                    font-size: 200%;
                    text-decoration: none;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    border: solid 2px red;
                    border-radius: 15px;
                    margin: 2%;
                    padding: auto;
                    width: 100%;
                    
                }
                
            }



        }

    }
}